.login{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100vw;
  height: 100vh;
  background-image: url(https://scontent.fpoa34-1.fna.fbcdn.net/v/t1.15752-9/422168518_394559826592392_2647263889660345052_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFNBKagXmzdDl4eGdZ3w8hNTzfDj3YDz3JPN8OPdgPPcpIO-K5bQbOK7DY0D5pLBLJrTJeXQc9cvtdjFp6D5b6T&_nc_ohc=Qi32GESBk3kAb5zhzG9&_nc_ht=scontent.fpoa34-1.fna&oh=03_AdVlWZa4Pg_3f_GnvPKWxUYhDSt0eXI7EL80cyzbmG9Qhw&oe=664247CF);
  background-size: 125%;
  background-position: right;
}

.login_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
  padding: 10vh 0;
  /* aspect-ratio: 3/5; */
  /* border: 1px solid white; */
  background: linear-gradient(#ffffff00 20%, #8080805c 50%);
}

.login_form_title{
  font-family: "Satisfy", cursive;
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px black;
}

.login_form_input{
  width: 85%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.24);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}

.login_form_input:focus{
  outline: none;
}

.login_form_input::placeholder{
  color: white;
  font-size: 1rem;
  text-align: center;
}

.login_form_input:focus::placeholder {
  color: transparent;
}

.login_form_button{
  width: calc(85% + 13.2px);
  padding: 5px;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}