/* Google font */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  background-color: rgba(0, 0, 0, 0.1);
}



.moldura {
  height: 90vh;
  overflow: auto;
}

/* styling paper */
.paper {
  width: 100vw;
  min-height: calc(90vh - 80px);
  height: auto;
  margin: auto;
  position: relative;
  padding: 40px 0;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
.paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.6);
}

/* styling blue horizontal lines */
.pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
.content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.linha {
  display: flex;
  justify-content: space-between;
}

.nomeDoProduto {
  width: 250px;
}

.gerenciarProduto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 80px;
}

.remover,
.adicionar {
  font-size: 3rem;
  line-height: 12px;
  margin-right: -5px;
}

.buttons {
  position: fixed; bottom: 0;
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: #FFF;
  overflow: hidden;
  border-top: 3px solid #ed7b8e;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  color: #ed7b8e;
  width: 30%;
  padding: 10px 0;
}

.button svg {
  font-size: 3rem;
}

.button span {
  font-size: 1.5rem;
}