.banner{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  aspect-ratio: 9/16;
  background-image: url(https://scontent.fpoa11-1.fna.fbcdn.net/v/t1.15752-9/422168518_394559826592392_2647263889660345052_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=PZRIMkDcaxsAX9uWyX1&_nc_ht=scontent.fpoa11-1.fna&oh=03_AdTtF8RvO75UMWHDUrvzFkvqHCpwqFopJQdmIVmh8wrsIQ&oe=65EE200F);
  background-size: cover;
  background-position: center;
}

.bannerTitle{
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 20px;
}