.main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 77vh;
  margin: auto;
  /* margin-top: 7vh; */
}

.banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.image{
  width: 50%;
  aspect-ratio: 3/4;
  background-position: center;
  background-size: cover;
}

.dany{
  background-image: url(https://scontent.fpoa34-1.fna.fbcdn.net/v/t1.15752-9/418928085_353937430901712_7016147913901746622_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHlNdQbruwYXo4Vx0t_o_pEPxtUBxpxUm0_G1QHGnFSbfDrX5gmYkEjx-hjqrlL70j0V7JClAER85aYnM3JosOz&_nc_ohc=rkQDMiSVN34Q7kNvgHE2t4L&_nc_ht=scontent.fpoa34-1.fna&oh=03_Q7cD1QGvzp5Cf7K1dgkEYTo26Q3KhyvBtN7H87gfmPwZoI6VeA&oe=6669BE63);
}

.riquelme{
  background-image: url(https://scontent.fpoa34-1.fna.fbcdn.net/v/t1.15752-9/418977279_1115905559585511_8176185184151689397_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGo6ZkPvWdEGr9clloxciV532PBl4KKwdrfY8GXgorB2oY_H7OGoIM9w5QkR-riFNGCpuQIPQ9B5XKOKz1LJYV_&_nc_ohc=CIbnJ_GBPJwAb4PjAfy&_nc_ht=scontent.fpoa34-1.fna&oh=03_AdXdAolwvxUarRXyLGB72Ohlm3pQKl-fo7_dEGhUdY40lQ&oe=66424262);
}

.text{
  text-align: center;
  font-family: "Satisfy", cursive;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.textPink{
  color: #ed7b8e;
  border-bottom: 3px solid #ed7b8e;
}

.banner svg{
  position: absolute;
  height: 50%;
  color: #ed7b8e;
}

.textMessage{
  color: #FFF;
  background-color: #ed7b8e;
  text-align: center;
  /* font-family: "Satisfy", cursive; */
  padding: 80px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.seeMore{
  padding: 20px 0;
  color: #FFF;
  background-color: #ed7b8e;
  font-weight: bold;
  font-size: 1.2rem;
  text-indent: 10px;
  direction: rtl;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 4s linear infinite;
  text-decoration: none;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}